<h3> CONFIRM </h3>
<%= render "checkout_menu" %>
<%= render "order_info", order: @order %>
<div class="row">
  <div class="col-md-2">
    <%= form_for @form, method: :put, url: wizard_path do |f| %>
      <%= f.hidden_field :completed_date, value: Time.now.utc %>
    <%= f.submit "CONFIRM", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
