<div class="row">
  <div class="col-md-6">
      <h3> Settings </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4> BILLING ADDRESS </h4>
    <hr>
    <%= form_for @billing_address do |f| %>
      <% if @billing_address.errors.any? %>
        <% @billing_address.errors.full_messages.each do |msg| %>
          <p class="alert"> - <%= msg %> </p>
        <% end %>
      <% end %>
    <div class="row">
    <div class="col-md-6">
      <%= f.text_field :firstname, placeholder: "First name", class: "form-control" %>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
      <%= f.text_field :lastname, placeholder: "Last name", class: "form-control" %>
    </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :address, placeholder: "Street address", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :city, placeholder: "City", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <%= f.select :country_id, Country.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, {class: "form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= f.text_field :zipcode, placeholder: "Zip", class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :phone, placeholder: "Phone", class: "form-control" %>
      </div>
    </div>
    <%= hidden_field_tag 'address_type', 'billing' %>
    <div class="row">
    <div class="col-md-2">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
    </div>
    <% end %>

  </div>

  <div class="col-md-6">
    <h3> SHIPPING ADDRESS </h3>
    <hr>
    <%= form_for @shipping_address do |f| %>
    <% if @shipping_address.errors.any? %>
      <% @shipping_address.errors.full_messages.each do |msg| %>
        <p class="alert"> <%= msg %> </p>
      <% end %>
    <% end %>
  <div class="row">
  <div class="col-md-6">
    <%= f.text_field :firstname, placeholder: "First name", class: "form-control" %>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <%= f.text_field :lastname, placeholder: "Last name", class: "form-control" %>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :address, placeholder: "Street address", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :city, placeholder: "City", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.select :country_id, Country.all.collect { |p| [ p.name, p.id ] }, {include_blank: true}, {class: "form-control"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :zipcode, placeholder: "Zip", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :phone, placeholder: "Phone", class: "form-control" %>
    </div>
  </div>
  <%= hidden_field_tag 'address_type', 'shipping' %>
  <div class="row">
  <div class="col-md-2">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
  </div>
  <% end %>

  </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>EMAIL</h3>
      <hr>
      <%= form_for @user, url: update_email_path, method: :put do |f| %>
      <div class="row">
        <div class="col-md-9">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <%= f.submit "SAVE", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-6" >
      <h3> PASSWORD </h3>
      <hr>
          <%= form_for @user, url: update_password_path, method: :put do |f| %>
          <div class="col-md-9">
            <div class="form-group">
              <%= f.label :old_password, "Old password", class: "control-label" %>
              <%= f.password_field :old_password, autocomplete: "off", class: "form-control" %>
            </div>
            <div class="form-group" >
              <%= f.label :new_password, "New password", class: "control-label" %>
              <%= f.password_field :new_password, autocomplete: "off", class: "form-control" %>
            </div>
              <em> 8 characters minimum</em>
            <div class="form-group">
              <%= f.submit "Change password", class: "btn btn-primary" %>
              <% end %>
            </div>
        </div>
  </div>

  <h3> REMOVE ACCOUNT </h3>
  <hr>
  <%= button_to "Please remove my account", user_registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>


