<% if @cart.order_items.any? %>

<%= form_tag("/orders/#{@cart.id}", method: :put) do %>
  <%= render "order_item", order: @cart %>

<hr>

<div class="row">
  <div class="col-md-3 col-md-offset-9 text-right">
    SUBTOTAL: <strong><%= number_to_currency(@cart.total_price) %></strong>
  </div>
</div>
<div class="row">
  <div class="col-md-2 ">    
    <%= submit_tag "Update", class: "btn btn-default" %>
    <% end %>
  </div>
  <div class="col-md-2 ">
    <%= button_to "CONTINUE SHOPPING", books_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-2 col-md-offset-4">
    <%= button_to "EMPTY CART", @cart, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" }  %>
  </div>
  <div class="col-md-2 ">
    <%= button_to "CHECKOUT", checkout_path("address"), method: :get, class: "btn btn-success" %>
  </div>
</div>
<% else %>
  <p> No items in your order yet. <%= link_to "Go back to shop", books_path %></p>
<% end %>

