<div class="row">
  <div class="col-md-6">
    <h1><%= @book.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src= <%= @book.image.thumb %> ></img>
  </div>
  <div class="row">
    <div class="col-md-2">
      <strong><%= @book.price %> $</strong>
    </div>
    <div class="col-md-4 col-md-offset-2 text-right">
      <%= render "add_book", book: @book %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <%= @book.description %>
    </div>
  </div>
</div>

