<div class="row">
  <div class="col-md-6">
    <h1><%= @book.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.image %>
  </div>
  <div class="col-md-8">
    <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h3><%= @book.price %> $</h3>
    </div>
    <div class="col-md-9 col-md-offset-4 text-right">
      <%= render "add_book", book: @book %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <%= @book.description %>
    </div>
  </div>
</div>
</div>

 <div class="row">
    <div class="col-md-3">
      <h4> Reviews </h4>
    </div>
    <div class="col-md-9">
      <h4><%= link_to "Add review for this book", new_book_raiting_path(@book) %></h3>
    </div>
    <div class="row">
    <div class="col-md-12">
      <% if @book.raitings.approved_by_admin.any? %>
        <% @book.raitings.approved_by_admin.each do |raiting| %>
          <span class="star-rating">
            <% (1..5).each do |i| %>
              <% if i <= raiting.raiting_number %>
                <i class="active"></i>
              <% else %>
                <i></i>
              <% end %>
            <% end %>
          </span>
          by <%= raiting.user.firstname %> <%= raiting.user.lastname %>
          <em><%= raiting.created_at.strftime("%B %d, %Y") %></em>
          <p><em><%= raiting.review %></em></p>
        <% end %>
      <% else %>
        <br>
        <p>There are no reviews for this book yet.</p>
      <% end %>
    </div>
    </div>



