<div class="row">
  <div class="col-md-6">
    <h1><%= @book.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src= <%= @book.image.thumb %> ></img>
  </div>
  <div class="row">
    <div class="col-md-2">
      <strong><%= @book.price %> $</strong>
    </div>
    <div class="col-md-5">
      <%= form_for :addBook, url: add_to_order_book_path(@book), method: :post do |f| %>
       <%= f.number_field :quantity, value: 1 %>
       <%= f.submit "ADD BOOK"%>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= @book.description %>
    </div>
  </div>
</div>

