<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <i class="fa fa-facebook-square fa-5x"></i>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-md-offset-5 text-center">
   or
  </div>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "sign_up_in_form"}) do |f| %>
  <div class="row ">
    <div class="col-md-3 col-md-offset-4">
    <div class="field">
      <%= f.label :email%><br />
      <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
    </div>
</div>

  <div class="row">
  <div class="col-md-3 col-md-offset-4">
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  </div>
</div>
  <div class="row">
  <div class="col-md-1 col-md-offset-4">
  <div class="actions">
    <%= f.submit "Sign in", class: "btn btn-info" %>
  </div>
  </div>
  <div class="col-md-2 text-right">
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <strong>remember me</strong>
    </div>
  </div>
</div>
  <% end -%>
<% end %>

<div class="row">
  <div class="col-md-3 col-md-offset-4">
  <div class="field">
    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
