<div class="row">
  <div class="col-md-3">
    <h4>Shipping Address <small><%= link_to "(edit)", wizard_path(:address) if step == wizard_steps[-2] %></small></h4>
    <div class="col-md-10">
      <%= current_or_guest_user.current_order.shipping_address.firstname %>
      <%= current_or_guest_user.current_order.shipping_address.lastname %>
    <p>
      <%= current_or_guest_user.current_order.shipping_address.address %>
    </p>
    <p>
      <%= current_or_guest_user.current_order.shipping_address.city %>
      <%= current_or_guest_user.current_order.shipping_address.zipcode %>
    </p>
    <p>
      <%= current_or_guest_user.current_order.shipping_address.country.name %>
    </p>
    <p>
      Phone
      <%= current_or_guest_user.current_order.shipping_address.phone %>
    </p>
    </div>
  </div>
  <div class="col-md-3">
    <h4>Billing Address <small><%= link_to "(edit)", wizard_path(:address) if step == wizard_steps[-2] %></small></h4>
    <div class="col-md-10">
      <%= current_or_guest_user.current_order.billing_address.firstname %>
      <%= current_or_guest_user.current_order.billing_address.lastname %>
    <p>
      <%= current_or_guest_user.current_order.billing_address.address %>
    </p>
    <p>
      <%= current_or_guest_user.current_order.billing_address.city %>
      <%= current_or_guest_user.current_order.billing_address.zipcode %>
    </p>
    <p>
      <%= current_or_guest_user.current_order.billing_address.country.name %>
    </p>
    <p>
      Phone
      <%= current_or_guest_user.current_order.billing_address.phone %>
    </p>
    </div>
  </div>
  <div class="col-md-3">
    <h4>Shipment<small><%= link_to "(edit)", wizard_path(:delivery) if step == wizard_steps[-2]%></small></h4>
    <div class="col-md-10">
      <%= current_or_guest_user.current_order.delivery.description %>
      <p><%= current_or_guest_user.current_order.delivery.price %></p>
    </div>
  </div>
  <div class="col-md-3">
    <h4>Payment Information<small><%= link_to "(edit)", wizard_path(:payment) if step == wizard_steps[-2] %></small></h4>
    <div class="col-md-10">
      ** ** **<%= current_or_guest_user.current_order.credit_card.number[-4..-1] %>
      <p><%= current_or_guest_user.current_order.credit_card.expiration_month %>/<%= current_or_guest_user.current_order.credit_card.expiration_year %></p>
    </div>
  </div>
</div>
<%= render "orders/order_item", order: current_or_guest_user.current_order %>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
    SUBTOTAL: <strong>$<%= current_or_guest_user.current_order.items_price %></strong>
    <p>SHIPPING: <strong>$<%= current_or_guest_user.current_order.delivery.price %></strong></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
    ORDER TOTAL: <strong>$<%= current_or_guest_user.current_order.total_price %></strong>
  </div>
</div>