<div class="row">
  <div class="col-md-4">
    <div class="col-md-8">
      BILLING ADDRESS
    </div>
    <%= form_for @address, method: :put, url: wizard_path do |f| %>
      <% if @address.errors.any? %>
        <% @address.errors.full_messages.each do |msg| %>
          <p class="alert"> <%= msg %> </p>
        <% end %>
      <% end %>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :billing_firstname, placeholder: "First name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :billing_lastname, placeholder: "Last name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :billing_address, placeholder: "Street address" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :billing_city, placeholder: "City" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.select :billing_country_id, Country.all.collect { |p| [ p.name, p.id ] }, include_blank: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :zipcode, placeholder: "Zip" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :billing_phone, placeholder: "Phone" %>
      </div>
    </div>
  </div>

<div class="col-md-4">
  <div class="col-md-8">
    SHIPPING ADDRESS
  </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :shipping_firstname, placeholder: "First name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :shipping_lastname, placeholder: "Last name" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :shipping_address, placeholder: "Street address" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :shipping_city, placeholder: "City" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.select :shipping_country_id, Country.all.collect { |p| [ p.name, p.id ] }, include_blank: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :shipping_zipcode, placeholder: "Zip" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :shipping_phone, placeholder: "Phone" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.submit %>
      </div>
    </div>
    <% end %>
</div>

<%= render "summary_order" %>

</div>
