<div class="row header">
  <div class="col-md-3 store_name">
    The Bookstore
  </div>
  <div class="col-md-3">
    <%= link_to "HOME", root_path %> | <%= link_to "SHOP", books_path %>
  </div>
  <div class="col-md-3">
  <% if current_user && current_user.orders %>
    <%= link_to order_path(current_order) do %>
      <i class="fa fa-shopping-cart">
        CART(
          <%= current_order.total_price %>
          $
          )
      </i>
    <% end %>
    <% else %>
    <i class="fa fa-shopping-cart">
      CART(EMPTY)
    </i>
  <% end %>
  </div>
  <div class="col-md-3">
    <% if user_signed_in? %>
      <%= link_to "Settings", '#' %> |
      <%= link_to "Orders", '#' %> |
      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
    <%else%>
      <%= link_to 'Sign in', new_user_session_path %> |
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </div>
</div>