<!DOCTYPE html>
<html>
<head>
  <title>Koob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= render 'layouts/header' %>

    <p class="flash notice"><%= notice %></p>
    <p class="flash alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
